# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Local pipeline/reference files
ORIGINALPIPELINE/

# Generated Maya scenes / batch outputs
ConvertedScenes/

# Some Logs that aren't relevant.
log_*

# Some videos I have
Presentation/