# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Local pipeline/reference files
ORIGINALPIPELINE/

# Generated Maya scenes / batch outputs
ConvertedScenes/

# Some Logs that aren't relevant.
log_*

# Some videos I have
Presentation/

MixamoMayaArrow.*
MaxBiped2MayaTranslator_BlurSystem.*
MaxBiped2MayaTranslator_BlurSystem2.*
MaxBiped2MayaTranslator_BlurSystem3.*
MaxBiped2MayaTranslator_MainPicture.*
MaxBiped2MayaTranslator_icon.*